@charset "utf-8";

/* CSS Document */

body{
	background:#f9f9f9;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
	//margin-top:90px;
    background-color: #fff;
	
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
			
	font-family:Tahoma, Geneva, sans-serif;
	color:#990000;
	font-weight:lighter;
}

.form-signin .form-signin-heading{
    color:#00A2D1;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
}

.signin-form
{
	//border:solid red 1px;
	margin-top:80px;
}
.navbar-brand{
	font-family:"Lucida Handwriting";
}
#btn-submit{
	height:45px;
}
.toggle-box {
  display: none;
}

.toggle-box + label {
  display: block;
}

.toggle-box + label + div {
  display: none;
}

.toggle-box:checked + label + div {
  display: block;
}

.roundimg {
    border-radius: 50%;
}
#preload
{
  display: none;
}

.holder
{
  width: 300px;
  height: 300px;
  border: 5px solid #ffffff;
  margin: 40px auto;
  
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

#photo-holder
{
  width: 100%;
  height: 100%;
  position: absolute;
}

.section
{
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;/*
  transition: background-image 1s ease;*/
}

